extends ./_partial/layout.pug
block content
  include ./_partial/page_header.pug
  ul.post-list(style='max-width:'+ theme.content_width +'px')
    each post in page.posts.data
      li 
        p.date #{time(post.date, 'LL')}
        if post.title
          h4.title
            a(href=url_for(post.path)) #{post.title}
          .excerpt !{post.excerpt}
        else
          .no-title !{post.content}
        if post.photos && post.photos.length
          a(href=url_for(post.path))
            img.photo(src=post.photos[0])
        ul.meta
          li
            i.icon.icon-author
            | #{config.author}
          li
            i.icon.icon-clock
            | #{parseInt(post.content ? post.content.length/900 : 0)} Minutes
          li
            i.icon.icon-category
            | !{list_categories(post.categories)}
  script.
    <!-- trusttheboy.github.io/ Baidu tongji analytics -->
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      console.log(1);
      hm.src = "https://hm.baidu.com/hm.js?fe3f5969cfe3bf9255462b6403670fb4";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  include ./_partial/pagination.pug